<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Books in database</title>
</head>

<table class ="table table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>SKU</th>
        <th>Price</th>
    </tr>
    <tr th:each="book:${dbbooks}">
        <td th:text="${book.title}">Book Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.description}">Desription</td>
        <td th:text="${book.sku}"></td>
        <td th:text="${book.price}"></td>
    </tr>
</table>
</html>